/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.PrimaryColor { background-color: #D7C49EFF; color: #343148FF;}
.SecondryColor { background-color: #343148FF; color: #D7C49EFF;}

.DocHeader { background-color: #DCE2F0; color: #50586c;}
.DocBody { background-color: #50586c; color: #DCE2F0;}
.DocColor1 {
   color: #DCE2F0;
}
.DocColor2 {
  color: #50586c;
}
.pstyleHeader {
  font-size: x-large;
  padding: 20px 10px; 
  background-color: #D7C49EFF; color: #343148FF;
}
.pstyleNav {

    font-size: large;
    padding: 10px 10px; 
    background-color: #343148FF; color: #D7C49EFF;
    
  }
.inLineItem {
    display: inline-flex;
   
}
.inLineItem > li {
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px gray solid;
    text-decoration: none;
}
.pstyleHeader a{
    text-decoration: none;
    color:inherit ;
    background-color: inherit;
}
.inLineItem  a {
    text-decoration: none;
    color:inherit ;
    background-color: inherit;
}
.pStyleAside{
  background-color: #D7C49EFF; color: #343148FF;
}
.pStyleAside li {
  padding-left: 20px;
  padding-right: 6px;
  padding-top: 12px;
  
  text-decoration: none;
}
.pStyleAside  a {
  text-decoration: none;
  color:inherit ;
  background-color: inherit;
}
.pStyleAside  a:hover{
  text-decoration: none;
  background-color: #D7C49EFF; color: #343148FF;
}
.flexContainer{
  display: flex;
}

.pd_L8{
  padding-left: 8px;
}
#viewPage{
  display: contents;

}
.pd_A8{
  padding: 8px;
}
.pd_t10{
  padding-top: 10px;
}
.lsItem li {
  padding-top: 10px;
}
.codePre{
  border-style: dotted;
  border-color: black ;
  border-width: 1px;
  padding: 6px;
  margin: 2px;
  font-family: monospace;
  font-family: monospace;
  font-weight: 560;

}
.pivot-td .th0 {
  min-width: 80px;
  border: 1px solid #DCE2F0;
  font-size: large;
  font-weight: 500;
  background-color: #DCE2F0; color: #50586c;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.pivot-td .td {
  min-width: 80px;
  border: 1px solid #DCE2F0;
  font-size: large;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}